{% extends 'base.html.twig' %}

{% block title %}Edit Offre{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4 text-center text-warning">Modifier l'Offre</h1>

        <div class="card p-4 shadow-lg border-0 rounded-3 bg-light">
            {{ include('offre/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('app_offre_edit', {'id': offre.id}) }}" class="btn btn-primary btn-lg">✏ Éditer l'Offre</a>
        </div>

        <div class="mt-3 text-center">
            {{ include('offre/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
