{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau nom de cours</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_nom_cours_index') }}">Retour à la liste</a>
{% endblock %}